/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/crayon');
@import url('https://fonts.cdnfonts.com/css/alitta');
/* @import url('https://fonts.cdnfonts.com/css/the-aesthetic-essential'); */

@font-face {
    font-family: 'Renitah';
    src: url('../fonts/Renitah.ttf');
}

body{
    background-color: blanchedalmond;
}

h2{
    /* font-size: clamp(140%, 3vi, 200%); */
    /* color: rgb(85, 201, 3); */
    /* color: white; */
    font-size: 700%;
    /* font-weight: lighter; */
    /* text-shadow: 2px 2px 4px #000000; */
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 30px;
    /* font-family: 'The Aesthetic Essential', sans-serif; */
    /* font-family: 'Alitta', sans-serif; */
    font-family: 'Renitah', cursive;
}

p{
    text-align: justify; 
    margin-right: 50px;
    margin-left: 50px;
    font-size: 170%;
    color: #bf7233 !important;
    font-family: 'Crayon', sans-serif;
}

/* .main{
    font-family: 'The Aesthetic Essential', sans-serif;
} */

.intro{
    background-color:#ffbfbf;
    text-align: center;
}

.intro a{
    display: inline-block;
    /* justify-content: center; */
}

.intro img{
    width: 45%;
    height: auto;
}

.intro .social-icon{
    display: inline-block;
    justify-content: center;
    padding-bottom: 5px;
    color: rgb(178, 178, 178);
    font-size: 300%;
}

.welcome {
    /* height: 30%;
    width: 90%; */
    /* position: relative; */
    align-items: center;
    justify-content: center;
    /* background-color: rgb(238, 207, 212); */
    /* background-image: url("../img/welcome_page.png"); */
    /* background-size: cover; */
    
    padding: 5px 0 5px 25px;
}

.welcome p{
    color: white;
}

/* @media screen and (max-height: 450px) {
  .sidediv {padding-top: 15px;}
  .sidediv a {font-size: 18px;}
} */
