<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=yes">

        <title>{% block title %}My Site{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
        <!-- <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <div class="menu-btn">
            <i class="fa fa-bars"></i>
        </div>
        <div class="sidebar">
            <div class="close-btn">
                <i class="fa fa-times"></i>
            </div>
            <ul>
                <li class="logo">
                    <a href="{{ url_for('home') }}">
                        <img src="../static/img/website_logo.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="sub-btn">
                        About Matcha <i class="fa fa-angle-down dropdown"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="about_matcha#matcha_intro" class="sub-item">What is Matcha?</a>
                        </li>
                        <li>
                            <a href="about_matcha#health" class="sub-item">Health Benefits of Matcha</a>
                        </li>  
                        <li>
                            <a href="about_matcha#considerations" class="sub-item">Important considerations</a>
                        </li> 
                        <li>
                            <a href="about_matcha#matcha_types" class="sub-item">Types of Matcha</a>
                        </li>
                        <li>
                            <a href="about_matcha#good_quality" class="sub-item">How to identify good matcha?</a>
                        </li>
                        <li>
                            <a href="about_matcha#matcha_storage" class="sub-item">Tips of storing matcha</a>
                        </li>   
                    </ul>
                </li>
                <li>
                    <!-- <a href="{{ url_for('drink_prep_tips')}}">Preparation Tips</a> -->
                    <a class="sub-btn">
                        Preparation Tips <i class="fa fa-angle-down dropdown"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="drink_preparation_tips#matcha_prep" class="sub-item">Matcha preparation tips</a>
                        </li>
                        <li>
                            <a href="drink_preparation_tips#cream_prep" class="sub-item">Cream preparation tips</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            </ul>
        </div>
        <div class="main">
            <div class="intro">
                <a href="{{ url_for('home') }}">
                    <img src="../static/img/website_logo.png">
                </a>
            </div>
            <div class="intro">
                <a class="social-icon" href="https://www.instagram.com/meowrista2002/" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>