{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link href="https://fonts.cdnfonts.com/css/crayon" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/alitta" rel="stylesheet">
<!-- <link href="https://fonts.cdnfonts.com/css/the-aesthetic-essential" rel="stylesheet"> -->
{% endblock %}

{% block content %}
<div class="welcome">
    <h2>Welcome!</h2>
    <p>
        This is my personal webpage for drink recipes that I made as shown on my instagram account!
        This is more than just a bio as you could not only learn to make matcha recipes etc.,
        but also learn more about matcha and tips of preparing as well as storing them.
        Feel free to navigate around and channel your inner barista!
    </p>
</div>
{% endblock %}
