{% extends "base.html" %}

{% block title %}Matchamisu Latte{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/drink_recipe.css') }}">
{% endblock %}

{% block content %}
<div class="drink_recipe">
    <h2>Matchamisu Latte</h2>
    <img id="matcha" src="{{ url_for('static', filename='img/Matchamisu latte.jpg') }}">
    <p>
        Welcome to the recipe page for making matchamisu latte! 
        <br><br>
        Indulge in the mix of two fan favourite flavors --- matcha and tiramisu! The indulgent green tea of
        the matcha is topped with a smooth tiramisu mascarpone cream crown. 
        <br><br>
        The word "Tiramisu" literally means "pick me up". It comes from the Treviso dialect, "Tireme su",
        Italianised into Tiramisu in the latter half of the 20th century.
    </p>
    <div class="note">
        <i>
            Please visit <a href="{{ url_for('drink_prep_tips') }}#matcha_prep">matcha preparation tips</a>
            and <a href="{{ url_for('drink_prep_tips') }}#cream_prep">cream preparation tips</a> before
            proceeding with this recipe for a more efficient preparation
        </i> &#x1F604.
    </div>
    <a id="skip-to-recipe" href="#recipe">Jump to recipe</a>
</div>
<div class="instructions">
    <h3>Ingredients</h3>
    <h4>Tiramisu cream:</h4>
    <ul>
        <li>2 tsp of oat milk or other plant-based milk of your choice</li>
        <li><sup>1</sup>/<sub>4</sub> cup / 60 ml of heavy cream</li>
        <li>1 tbsp of mascarpone cheese</li>
        <li>1 tsp sugar</li>
        <li><sup>1</sup>/<sub>8</sub> tsp of vanilla paste/extract</li>
    </ul>
    <h4>Matcha latte:</h4>
    <ul>
        <li>4 g of matcha powder</li>
        <li><sup>1</sup>/<sub>6</sub> cup / 40 ml of hot water (~70-80°C)</li>
        <li><sup>1</sup>/<sub>3</sub> cup / 80 ml of oat milk or other plant-based milk of your choice</li>
        <li>1 cup / 1 large block of ice</li>
    </ul>
</div>
<div class="ingredients_and_equipment">
    <figure>
        <img src="{{ url_for('static', filename='img/Ingredients (Tiramisu matcha).jpg') }}">
        <figcaption style="text-align: center;">Ingredients for drink preparation</figcaption>
    </figure>
</div>
<div class="instructions">
    <h3>Equipment</h3>
    <ul>
        <li><span style="color: grey;">Measuring spoons (optional)</span></li>
        <li>Microwave / <span style="color: grey;">Kettle with adjustable temperature (optional)</span></li>
        <li>Microwave lid / any container lid</li>
        <li><span style="color: grey;">Thermometer (optional)</span></li>
        <li>Sieve</li>
        <li>Bowl / Chawan</li>
        <li>Wooden spoon / chashaku</li>
        <li>Bamboo whisk</li>
        <li>Hand-held frother</li>
        <li>Frothing pitcher / <span style="color: grey;">Cup or bowl for cream preparation (optional)</span></li>
    </ul>
</div>
<div class="ingredients_and_equipment">
    <figure>
        <img src="{{ url_for('static', filename='img/equipment.png') }}">
        <figcaption style="text-align: center;">Equipments for drink preparation</figcaption>
    </figure>
</div>
<div class="instructions" id="recipe">
    <h3>Recipe</h3>
    <div class="prep_details">
        <p style="color: grey;">Preparation Time:</p>
        <p style="border-bottom: 1px solid black;">5 mins</p>
        <p style="color: grey;">Cook time:</p>
        <p style="border-bottom: 1px solid black;">5 mins</p>
        <p style="color: grey;">Total time:</p>
        <p style="border-bottom: 1px solid black;">10 mins</p>
        <p style="color: grey;">Servings:</p>
        <p>1 person</p>
    </div>
    <h4>Matcha:</h4>
    <ol>
        <li>Sift the <b>matcha powder</b> into a <b>bowl/chawan</b> using a <b>sieve</b> and a <b>wooden spoon/chashaku</b> to prevent clumps.</li>
        <li>
            Microwave the water while covering it with a <b>microwave lid cover/any container lid</b>.
            Test with a <b>thermometer</b> every 10 seconds to adjust the heating time. (Mine took around 20 seconds to get to the rigth temperature).
            If it gets too hot, you could leave it to cool down for a few minutes.
            <i>Alternatively, if you have a kettle with an adjustable temperature, you could just heat water with it.</i>
        </li>
        <li>
            Add the water into the <b>bowl/chawan</b> containing the matcha powder and whisk it using a <b>bamboo whisk</b>.
        </li>
    </ol>
    <h4>Latte:</h4>
    <ol>
        <li>Add <b>ice</b> to the cup for the drink.</li>
        <li>Drizzle the <b>vanilla paste/extract</b> onto the ice.</li>
        <li>Pour the <b>milk</b> into the cup.</li>
        <li>Pour the whisked matcha on the surface of the milk.</li>
    </ol>
    <h4>Cream:</h4>
    <ol>
        <li>In a <b>frothing pitcher</b> or a separate cup/bowl, add in <b>heavy cream</b> and the <b>milk</b>.</li>
        <li>Add in the <b>mascarpone cheese</b> and the <b>sugar</b>.</li>
        <li>Whisk using a <b>hand-held frother</b> until the mixture is well-blended and creamy.</li>
    </ol>
    <h4>Final preparation:</h4>
    <ol>
        <li>
            Pour the cream mixture into the cup for the drink. 
            <i>
                Tips on pouring: Gently pour the cream onto the tips of the ice to avoid mixing the cream with the latte. 
                This will create the floating effect. Pour in a circular motion.
            </i>
        </li>
        <li>(Optional!) Garnish the top of the drink by sifting a little bit of matcha powder.</li>
        <li>Enjoy!</li>
    </ol>
</div>
<div class="note">
    <i>You can substitute matcha with hojicha to make <b>hojichamisu latte</b>!</i>
</div>
<p id="hojicha">
    Hojicha version:<br>
    <img src="{{ url_for('static', filename='img/Tiramisu hojicha latte.jpg') }}">
</p>
{% endblock %}