{% extends "base.html" %}

{% block title %}Preparation Tips{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />

<script src="{{ url_for('static', filename='js/searchbar.js') }}"></script>
{% endblock %}

{% block content %}
<h2 style="text-align: center; font-size: 300%;">Search the recipes here!</h2>
<div class="search-box">
    <div class="search">
        <span class="search-icon material-symbols-outlined">search</span>
        <input class="search-input" type="search" value="" id="search" placeholder="Search">
    </div>
</div>

<div class="recipes">
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='strawberry_matcha_cloud') }}">
            <img src="{{ url_for('static', filename='img/Strawberry matcha cloud.png') }}" alt="strawberry matcha cloud cream fruit pink">
            <figcaption>Strawberry Matcha Cloud Latte</figcaption>
        </a>
    </figure>
    <figure class="item">

        <a href="{{ url_for('recipes_name', name='blueberry_matcha_cloud') }}">
            <img src="{{ url_for('static', filename='img/Blueberry matcha cloud.png') }}" alt="blueberry matcha cloud cream fruit purple">
            <figcaption>Blueberry Matcha Cloud Latte</figcaption>
        </a>
    </figure>
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='ube_matcha_cloud') }}">
            <img src="{{ url_for('static', filename='img/Ube matcha cloud latte.jpg') }}" alt="ube matcha cloud cream purple">
            <figcaption>Ube Matcha Cloud Latte</figcaption>
        </a>
    </figure>
   <figure class="item">
    <a href="{{ url_for('recipes_name', name='matcha_ube_cloud') }}">
        <img src="{{ url_for('static', filename='img/Matcha ube cloud latte.jpg') }}" alt="matcha ube cloud purple">
        <figcaption>Matcha Ube Cloud Latte</figcaption>
    </a>
   </figure>
    <!-- <a class="item" id="matcha ube cloud cream purple" href="{{ url_for('recipes_name', name='matcha_ube_cloud') }}">Matcha Ube Cloud Latte</a> -->
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='biscoff_cloud_matcha') }}">
            <img src="{{ url_for('static', filename='img/Biscoff cloud matcha latte.jpg') }} " alt="cookie biscoff matcha cloud cream brown">
            <figcaption>Biscoff Cloud Matcha Latte</figcaption>
        </a>
    </figure>
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='biscoff_cloud') }}">
            <img src="{{ url_for('static', filename='img/Biscoff cloud latte.jpg') }}" alt="biscoff cloud cream cookie brown">
            <figcaption>Biscoff Cloud Latte</figcaption>
        </a>    
    </figure>
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='matchamisu') }}">
            <img src="{{ url_for('static', filename='img/Matchamisu latte.jpg') }}" alt="tiramisu matcha matchamisu cloud cream">
            <figcaption>Matchamisu Latte</figcaption>
        </a>    
    </figure>
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='salted_coconut_cloud_matcha') }}">
            <img src="{{ url_for('static', filename='img/Salted coconut cloud matcha latte.jpg') }}" alt="salted coconut cloud cream matcha">
            <figcaption>Salted Coconut Cloud Matcha Latte</figcaption>
        </a>    
    </figure>
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='salted_vanilla_cloud_matcha') }}">
            <img src="{{ url_for('static', filename='img/Salted vanilla cloud matcha latte.jpg') }}" alt="salted vanilla cloud cream matcha">
            <figcaption>Salted Vanilla Cloud Matcha Latte</figcaption>
        </a>
    </figure>
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='salted_honey_cloud_matcha') }}">
            <img src="{{ url_for('static', filename='img/Salted honey cloud matcha latte.jpg') }}" alt="salted honey cloud cream matcha">
            <figcaption>Salted Honey Cloud Matcha Latte</figcaption>
        </a>
    </figure>
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='double_matcha') }}">
            <img src="{{ url_for('static', filename='img/Double matcha latte.jpg') }}" alt="double matcha cream">
            <figcaption>Double Matcha Latte</figcaption>
        </a>
    </figure>
    <figure class="item">
        <a href="{{ url_for('recipes_name', name='salted_coconut_cloud_ube') }}">
            <img src="{{ url_for('static', filename='img/Salted coconut cloud ube latte.jpg') }}" alt="salted coconut cloud cream ube purple">
            <figcaption>Salted Coconut Cloud Ube Latte</figcaption>
        </a>
    </figure>
</div>
{% endblock %}