@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

*{
    font-family: 'Crayon', sans-serif;
}   

body{
    background-color: blanchedalmond;
}

.intro{
    background-color:#ffbfbf;
    text-align: center;
}

.intro a{
    display: inline-block;
    /* justify-content: center; */
}

.intro img{
    width: 45%;
    height: auto;
}

.intro .social-icon{
    display: inline-block;
    justify-content: center;
    padding-bottom: 5px;
    color: rgb(178, 178, 178);
    font-size: 300%;
}

h2{
    text-align: center;
    font-size: 300%;
}

h3{
    font-size: 230%;
}

h4{
    font-size: 170%;
}

/* div:not(.sidebar):not(.intro){
    display: block;
    margin-left: 5px;
    margin-right: 5px;
} */

.introduction, .health_benefits, .considerations, .types, .good_matcha, .powder, .storing_tips{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

p{
    color: #bf7233 !important;
    text-align: justify;
    font-size: 150%;
}

.column{
    float: left;
    width: 40%;
    padding: 10px;
}

.good_matcha p .column::after{
    content: "";
    display: table;
    clear: both;
}

details.ceremonial_types{
    padding: 1em;
    border: 1px solid #121212;
    border-radius: 4px;
    margin-bottom: 1em;
    transition: all 0.4s ease-in-out;
    /* max-height: 20px; */
    overflow: hidden;
}

details.ceremonial_types summary{
    outline: none;
    cursor: pointer;
    font-size: 130%;
}

details[open].ceremonial_types summary{
    padding-bottom: 1em;
    max-height: 500px;
}

.powder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2%;
}

.powder .sample{
    /* width: 50%;
    height: auto; */
    /* display: block; */
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption{
    font-size: 130%;
}